body {
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a2d6e9, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #94c6d8, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*
    https://uigradients.com/ página para escoger el color del background.
*/